h1 {
    color: rgb(255, 255, 255);
    background-color: red;
}

p {
    background-color: rgb(223, 21, 230);
}

button {
    background-color: lightcoral;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 25px;
    font-family: the Sans;
}

button.bg-blue {
    background-color: skyblue;
}

button.bg-green {
    background-color: lightgreen;
}