@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Isometra&family=Playwrite+CA+Guides&family=Zhi+Mang+Xing&display=swap');

h1 {
    font-family: 'Isometra', sans-serif;
    text-align: center;
    border-bottom: 3px dashed black;
    border-top: 1px solid black;
    border-radius: 10px;
}

h2 {
    font-family: 'Zhi Mang Xing', cursive;
    font-weight: normal;
    text-shadow: 10px 10px 5px rgb(255, 0, 0);
}

h3 {
    font-family: 'Caveat', sans-serif;
    font-size: 30px;
    text-align: right;
}

p {
    font-family: 'Playwrite CA Guides', sans-serif;
    font-weight: bold;
    text-align: justify;
    text-indent: 50px;
    line-height: 3;
    background-image: url('/week3/image/background.jpg');
    background-size: cover;
    background-position: center;
}

.text-bold {
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(115, 233, 164);
}